.home-sect-3{
  background: $sect-3;

  .top-sect {
    text-transform: uppercase;
    padding-top: 37px;
    padding-bottom: 30px;
    text-align: center;
    h1{
      font-family: 'Roboto',sans-serif;
      font-size: 30px;
      color: $white;
      margin: 0;
    }
  }

  .button-send {
    text-align: center;
    background-size: auto;
    .btn {
      padding: 15px 25px;
      border-radius: 0;
      background: $btn-color;
      color: $white;
    }
  }

  .bottom-sect-3{
    padding-top: 24px;
    padding-bottom: 36px;
    text-align: center;
    p{
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: $white;
      margin: 0;
    }
  }
}

@media only screen and (max-width : 767px) {
  .home-sect-3 {
    .top-sect{
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .bottom-sect-3{
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

@media only screen and (max-width : 540px) {
  .home-sect-3{
    .button-send{
      background-image: none!important;
    }
  }
}

@media only screen and (max-width : 480px) {
  .home-sect-3{
    .top-sect{
      h1{
        font-size: 25px;
      }
    }
    .bottom-sect-3{
      p{
        font-size: 13px;
      }
    }
  }
}
